{{define "header"}}
<div class="uppercase flex gap-4 px-4 border-b mb-4 justify-center text-sm tracking-wider text-white bg-blue-900">        
    <a href="/" class="px-4 py-2 hover:bg-blue-800 cursor-pointer">Home</a>
    <a href="https://github.com/lymarrie" class="px-4 py-2 hover:bg-blue-800 cursor-pointer">About</a>
    <a href="https://www.yext.com" class="px-4 py-2 hover:bg-blue-800 cursor-pointer">Investor Relations</a>
    <a href="/ceo.html" class="px-4 py-2 hover:bg-blue-800 cursor-pointer">Executive Team</a>
</div>
{{end}}
