{{define "header"}}
<div class="bg-ll-blue">
<div class="uppercase flex gap-4 mb-4 text-sm tracking-wider text-white  max-w-screen-md mx-auto">        
    <a href="/" class="px-4 py-3 hover:bg-blue-800 cursor-pointer">Home</a>
    <a href="https://github.com/lymarrie" class="px-4 py-3 hover:bg-blue-800 cursor-pointer">About</a>
    <a href="https://www.yext.com" class="px-4 py-3 hover:bg-blue-800 cursor-pointer">Investor Relations</a>
    <a href="/ceo.html" class="px-4 py-3 hover:bg-blue-800 cursor-pointer">Executive Team</a>
    </div>
    </div>

{{end}}
