{{define "location.url" -}}
{{.externalEntityId}}.html
{{- end}}
{{define "location.source" -}}
<html>
<head>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>
    <body>
    <div>{{template "header"}}</div>
    <div class="max-w-screen-md mx-auto text-blue-900">
        <h1 class="text-3xl font-bold mb-2 ">{{.name}} in {{.address.city}}, {{.address.region}}</h1>
        <div class="mb-4">
        <h2 class="font-bold">Address:</h2>
        <p>{{.address.line1}}, {{.address.city}}, {{.address.region}} {{.address.postalCode}}</p>
        
        </div>
        <div class="mb-4">
        <h2 class="font-bold">Hours:</h2>        
        <p>
          {{ range $key, $value := .hours }}
               <li><strong>{{ $key }}</strong>: {{ $value }}</li>
          {{ end }}
        </p>
        </div>
        </div>
    </body>
</html>
{{end}}