{{define "location.url" -}}
{{.externalEntityId}}
{{- end}}
{{define "location.source" -}}
<html>
<head>
{{ template "scripts" }}
{{ $geomodifier := .address.city }}
{{ if .geomodifier }}
    {{ $geomodifier := .geomodifier }}
{{ end }}

<title>{{.name}} {{ $geomodifier }} </title>
  <script src="locationPage.jsx" type="text/babel"></script>

<script>
   var pageData = {{.}}
</script>
</head>
    <body>
    <div id="react-app"></div>
    </body>
</html>
{{end}}