{{define "scripts"}}
<link href="index.css" rel="stylesheet">
<script type="module">
        import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script><style>.turbo-progress-bar {
  height: 5px;
  background-color: green;
}
</style>


{{end}}
