{{define "site.url" -}}{{.c_slug}}.html{{- end}}

{{define "site.source" -}}
<html>
<head>
{{ template "scripts" }}
<title>{{.name}}</title>
</head>
    <body>
        <div>{{template "header"}}</div>
        <div class="max-w-screen-md mx-auto text-blue-900">
            {{.richTextDescription}}
        </div>
    </body>
</html>
{{end}}